.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  .topSearchFilterContainer {
    width: 100%;
    height: 95px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    padding: 0 66px;

    h2 {
      color: #000;
      font-family: 'PP Acma';
      font-size: 36px;
      font-style: normal;
      font-weight: 600;
      line-height: 76px;
      letter-spacing: -1.8px;
    }

    .sort {
      width: max-content;
      display: flex;
      padding: 10px 20px;
      justify-content: center;
      align-items: center;
      gap: 10px;

      border-radius: 4px;
      border: 1px solid rgba(0, 0, 0, 0.1);
      background: #fff;
      p {
        color: #000;
        font-family: Montserrat;
        font-size: 13px;
        font-style: normal;
        font-weight: 600;
        line-height: 26px;
        letter-spacing: -0.26px;
      }
    }
  }

  .layout {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 57px;
    padding: 20px 70px;

    .filters {
      width: 304px;
      min-width: 304px;
    }

    .content {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 70px;
    }
  }
}

@media screen and (max-width: 1024px) {
  .container {
    .layout {
      flex-direction: column;
    }
  }
}
